<form method="get" action="/logout">
    <input type="submit" value="Logout">
</form>
<h2>Enter some notes and/or a rating for this prescription</h2> 
<h3>Name: <%= @prescription.name %><h3>
<br>
<h3>Description: <%= @prescription.description %><h3>
<br>
<h3>Number: <%= @prescription.id_no %><h3>

<form method="post" action="/prescriptions/<%=@prescription.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    Notes<input type="text" name="notes" value="<%= @prescription.notes %>" placeholder="Notes"><br>
    Rating<input type="text" name="rating" value="<%= @prescription.rating %>" placeholder="Enter between 1-5"><br> 
    <input type="submit" value="Update Notes/Rating">

</form> 