<h1>Here are all of your CannaPharm prescriptions<h1>
<form method="get" action="/prescriptions/new">
    <button type="submit" value="New Prescription"> Request a Prescription</button> 
</form>
<br>
<br>
<% @prescriptions.each do |prescription| %>
    <h2><a href="/prescriptions/<%=prescription.id%>"> <%= prescription.name %></a><h2><br/>
    Description: <%= prescription.description %><br/>
    <br>
    Number: <%= prescription.id_no %><br/>
    <br>
    Patient Notes: <%= prescription.notes %><br/>
    <br>
    Patient Rating: <%= prescription.rating %><br/>
    
    <br/>
    <br/>
<% end %> 