<%# user homepage should be able to view, add and add delete all prescriptions %>
<h1>Welcome to your CannaPharm Patient Portal, <%= @patient.username %></h1>

<% @patient.prescriptions.each do |prescription| %>
    <a href="prescriptions/<%= prescription.id%>"><%= prescription.name %></a><br/>
    <%= prescription.description %><br/>
    <%= prescription.id_no %><br/>
    <%= prescription.notes %><br/>
    <%= prescription.rating %><br/>
    <a href="/prescriptions/<%= prescription.id %>/edit">Add Notes/Add Rating</a>
    <br/>
    <br/>
<% end %> 

<h4><form method="get" action="/prescriptions/new">
    <input type="submit" value="Request a new Prescription">
    </form></h4>

<h4><form method="get" action="/prescription/custom">
    <input type="submit" value="Upload your ownn homegrown strain here">
    </form></h4>