<%# user homepage should be able to view, add and add delete all prescriptions %>
<h1>Welcome to your CannaPharm Patient Portal, <%= @patient.username %></h1>
<form method="get" action="/logout">
    <input type="submit" value="Logout">
</form>

<% @patient.prescriptions.each do |prescription| %>
    Name: <a href="prescriptions/<%= prescription.id%>"><%= prescription.name %></a><br/>
    Description: <%= prescription.description %><br/>
    Number: <%= prescription.id_no %><br/>
    Notes: <%= prescription.notes %><br/>
    Rating: <%= prescription.rating %><br/>
    <a href="/prescriptions/<%= prescription.id %>/edit">Add Notes/Add Rating</a>
    <br/>
    <br/>
<% end %> 

<h4><form method="get" action="/prescriptions/new">
    <input type="submit" value="Request a new Prescription">
    </form></h4>

<h4><form method="get" action="/prescriptions/custom">
    <input type="submit" value="Upload your own strain here">
    </form></h4>