<% @prescriptions.each do |prescription| %>
    <%= prescription.name %><br/>
    <%= prescription.description %><br/>
    <%= prescription.id_no %><br/>
    <%= prescription.notes %><br/>
    <%= prescription.rating %><br/>
    <a href="/prescriptions/<%= prescription.id %>/edit">Add Notes/Add Rating</a>
    <br/>
    <br/>
<% end %> 